!!!
%html{:lang => "en"}
  %meta{:charset => "utf-8"}/
  %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %title Pastebin
  %body.center
    %header.alright
      %a{:href => "/"}
        %h1 Pastebin
    = yield
