.CodeRay {
  width: 720px;

  font-family: monospace;
  font-size: 12px;
  overflow: auto;
  
  padding: 3px 5px;
  margin: 12px 0;

  .line_numbers {
    padding-right: 10px;
  }

  pre {
    margin: 0px;
    padding: 0px;
  }

  .k {background-color: #FFF0F0; color: #D20;}
  .dl {color: #710;}
  .co {color: #036; font-weight: bold;}
  .sy {color: #A60;}
  .pc {color: #038; font-weight: bold;}
  .r {color: #080; font-weight: bold;}
  .iv {color: #33B;}
  .cl {color: #B06; font-weight: bold;}
  .il {background: #DDD; color: #000;}
  .idl {background: #DDD; font-weight: bold; color: #666;}

  .c {color: #888;}
  .pp {color: #579}
  .ic {color: #B44; font-weight: bold;}
  .di {color: #088; font-weight: bold;}
  .pt {color: #074; font-weight: bold;}
  .i {color: #00D; font-weight: bold;}

  .kw {color: #080; font-weight: bold;}
  .ex {color: #C00; font-weight: bold;}
  .lv {color: #963;}
  .ty {color: #339; font-weight: bold;}

  .fu {color: #06B; font-weight: bold;}
}
